@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Rosarivo&family=Work+Sans:wght@200&display=swap');

/* html {
  background: url('/public/img/homeBg1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

html,
body {
  overflow: hidden;
}

* {
  color: #ffffff;
}

@font-face {
  font-family: starEmpty;
  src: url('font/Starjhol.ttf');
}

@font-face {
  font-family: spaces;
  src: url('font/space.ttf');
}

@font-face {
  font-family: pixelfont;
  src: url('font/pixelfont.ttf');
}

@font-face {
  font-family: starSolid;
  /* src: url('font/Starjout.ttf'); */
  src: url('font/Starjedi.ttf');
}

@font-face {
  font-family: Guardians;
  src: url('font/Guardians.ttf');
}

/* HEADER COMPONENT */

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: auto;
  background-color: transparent;
}

.menuBar {
  display: flex;
  position: absolute;
  right: 6rem;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  padding: auto;
  margin: auto;
  font-size: 1rem;
  font-family: starSolid, playfair display;
}

.link {
  color: #e7e763;
  text-decoration: none;
  cursor: pointer;
  padding: auto;
}

.active {
  background-color: #7777dc;
  border-radius: 5px;
  padding: 5px 9px;
}

.myLogo {
  display: flex;
  /* width: 7rem; */
  width: 8vw;
  padding-top: 3vw;
  padding-left: 0.7vw;
}

.mylogoBox {
  background-color: transparent;
  padding: 0;
}

/* @media screen and (max-width: 900px) {
  .menuBar {
    width: 50%;
  }
  .myLogo {
    width: 5rem;
    padding-top: 2rem;
    padding-left: 0.7rem;
  }
} */

@media screen and (max-width: 768px) {
  .menuBar {
    right: 2rem;
    width: 55%;
    padding: auto;
    margin: auto;
    font-size: 0.8rem;
  }

  .link {
    color: #e7e763;
    text-decoration: none;
    cursor: pointer;
    padding: auto;
  }

  .active {
    padding: 3px 8px;
  }

  .myLogo {
    width: 4.5rem;
    padding-top: 1vw;
    padding-left: 0.5vw;
  }
}

/* FOOTER COMPONENT */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12vh;
  background-color: #40334f;
  font-size: 1rem;
  /* margin-top:10vh */
}

.footerMenu {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 28vw;
  height: 100%;
  left: 6%;
  font-family: starSolid, playfair display;
  font-size: 0.8rem;
}

.footerLogo {
  display: flex;
  position: absolute;
  height: 100%;
  width: 8rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  right: 13%;
}

.sitelogo {
  /* width: 40px;
  height: 40px; */
  width: 3vw;
  height: 3vw;
}

.footerText {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  margin: 0 0 5px 0;
}

@media screen and (max-width: 768px) {
  .footerMenu {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 100%;
    left: 5%;
    font-family: starSolid, playfair display;
    font-size: 0.7rem;
    gap: 0.8rem;
  }

  .footerLogo {
    display: flex;
    position: absolute;
    height: 100%;
    width: 8rem;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    right: 5%;
  }

  .sitelogo {
    width: 1.7rem;
    height: 1.7rem;
  }

  .footerText {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 0.5rem;
    font-size: 0.5rem;
    margin: 5px 0 3px 0;
  }
}

/* HOME PAGE */
.home {
  display: flex;
  height: 100vh;
  /* width: 100vw; */
  background-image: url('/public/img/homeBg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
}

.homeSection {
  position: absolute;
  text-align: left;
  top: 20%;
  left: 45vw;
  width: 50vw;
  margin-right: 5vw;
  transition: font-size 0.5s ease-in-out;
}

.introText {
  /* font-size: 2.2vw; */
  font-size: 2rem;
  color: #e9e98f;
  font-weight: bolder;
  padding-right: 1rem;
  font-family: starEmpty;
}

.desText {
  /* font-family: playfair display; */
  font-family: Comfortaa;
  color: #e5e5d5;
  color: #f7f7f7;
  font-size: 1.6vw;
  /* font-size: 1.5rem; */
  padding-right: 1rem;
}

.siteEmailLogo {
  width: 2.3rem;
  height: 2.3rem;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1500px) {
  .footer {
    height: 10vh;
    font-size: 1.3rem;
  }
  .introText {
    font-size: 3rem;
  }
  .desText {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .home {
    background-position: 30%;
  }

  .homeSection {
    position: absolute;
    text-align: left;
    top: 20%;
    left: 35vw;
    width: 60vw;
    margin-right: 5vw;
    transition: font-size 0.5s ease-in-out;
  }

  .introText {
    font-size: 1.1rem;
    font-weight: bolder;
    padding-right: 1rem;
  }

  .desText {
    /* font-family: playfair display; */
    font-family: Comfortaa;
    color: #e5e5d5;
    color: #f7f7f7;
    font-size: 0.9rem;
    font-weight: 600;
    padding-right: 1rem;
  }

  .siteEmailLogo {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.5rem;
  }
}

/* PROJECTS PAGE */

.projects,
.about,
.contact {
  text-align: center;
  height: 100vh;
  display: flex;
  background-image: url('/public/img/projectBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;

  margin: 0 0 10vh 0;
  padding: 0;
}

.projectsSection {
  display: blcok;
  color: #ffffff;
  /* font-size: 2rem; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 80vw;
  /* height: 50vh; */
}

.projectsSection > p {
  font-size: 2.5rem;
  color: #6551c8;
  font-weight: bolder;
  font-family: starEmpty;
  margin: 8rem auto 0 auto;
}

.projectsInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.projectBox {
  border-radius: 20px;
  box-shadow: rgba(146, 133, 209, 0.85) 0px 4px 12px;
  margin: 2rem;
  /* width: 100%; */
  height: 90%;
}

.projectBox p {
  color: #b9ba90;
  font-size: 1.3rem;
  padding: 1rem;
  font-family: Comfortaa;
  /* font-family: Rosarivo; */
  /* text-align: left; */
}

.projectLogo {
  width: 12vw;
  height: 12vw;
  padding: 10px;
}

.projectLogo:hover {
  transform: scale(1.4);
  transition: 0.8s;
}

.projectIntroduction {
  /* background-color: rgb(60, 60, 79, 0.8); */
  background-color: rgba(67, 67, 98, 0.7);
  /* width: 90%; */
  height: auto;
  box-shadow: rgba(146, 133, 209, 0.25) 0px 4px 15px;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

@media screen and (max-width: 768px) {
  .projectsSection {
    margin: auto;
    width: 85vw;
  }

  .projectsSection > p {
    font-size: 1.5rem;
    color: #6551c8;
    font-weight: bolder;
    font-family: starEmpty;
    margin: 6rem auto 0 auto;
  }

  .projectsInfo {
    display: block;
  }

  .projectBox {
    margin: 3rem;
  }

  .projectBox h2 {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .projectBox p {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

/* ABOUT PAGE */
.aboutSection {
  display: block;
  /* color: #ffffff; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10rem auto;
  width: 85vw;
  font-family: playfair display;
  font-family: Comfortaa;
  /* color: #b9ba90; */
  /* height: 80vh; */
}

.intro {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 75%;
  margin: auto;
  font-family: playfair display;
  font-family: Comfortaa;
  /* font-size: 1.5rem; */
  border-radius: 20px;
  box-shadow: rgba(146, 133, 209, 0.85) 0px 4px 12px;
  /* padding: 1rem; */
}

.intro h1 {
  font-size: 2.5rem;
  color: #6551c8;
  font-weight: bolder;
  font-family: starEmpty;
  padding: 1.5rem;
}

.intro p {
  color: #b9ba90;
}

.aboutMe {
  background-color: rgba(67, 67, 98, 0.4);
  /* padding:15px; */
  font-family: Comfortaa;
  font-size: 1.5rem;
  /* margin: 0; */
  padding: 1.5rem;
  border-radius: 0px 0px 20px 20px;
  box-shadow: rgba(146, 133, 209, 0.85) 0px 4px 12px;
}

.imgsect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20vh auto;
  width: 78%;
  /* height: 50vh; */
}

.selfImg {
  /* width: 480px;
  height: 300px; */
  width: 38vw;
  height: 23vw;
  border: 1px solid #ffffff;
  margin: 1rem;
}

.funfactTitle {
  font-size: 2rem;
  color: #6551c8;
  font-weight: bolder;
  font-family: starEmpty;
  margin-top: 0;
}

.funfact {
  text-align: left;
  margin-left: 2rem;
  font-size: 1.4rem;
  /* color: #b9ba90; */
}

.techSection {
  background-color: rgb(60, 60, 79, 0.8);
  background-color: rgba(67, 67, 98, 0.8);
  border-radius: 20px;
  box-shadow: rgba(146, 133, 209, 0.85) 0px 4px 12px;
  margin: 10vh auto;
  padding: 10px;
  width: 80%;
}

.techBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 65vw;
}

.space {
  height: 10rem;
}

/* @media screen and (max-width: 900px) {
  .imgsect {
    display: block;
    height: 80vh;
  }
  .selfImg {
    width: 300px;
    height: 180px;
    margin: 5vh auto;
  }
  .techBox {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
} */

@media screen and (max-width: 768px) {
  .aboutSection {
    margin: 7rem auto;
    width: 95vw;
  }

  .intro {
    width: 85%;
  }

  .intro h1 {
    font-size: 1.5rem;
    color: #6551c8;
    font-weight: bolder;
    font-family: starEmpty;
    padding: 1rem;
  }

  .aboutMe {
    font-size: 1rem;
    padding: 1rem;
  }

  .imgsect {
    display: block;
    margin: 5vh auto;
    /* width: 75%; */
    /* height: 50vh; */
  }

  .selfImg {
    width: 60vw;
    height: 38vw;
  }

  .funfactTitle {
    font-size: 1.5rem;
    margin-top: 2vw;
  }

  .funfact {
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 1rem;
    max-width: 90%;
  }

  .techSection {
    margin: 5vh auto;
    padding: 10px;
    width: 80%;
  }

  .techBox {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    width: 65vw;
    font-size: 0.8rem;
  }

  .technologyLogo {
    width: 30px;
    height: 30px;
  }
}

/* CONTACT PAGE */

.contactSection {
  display: blcok;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50vw;
  height: 50vh;
}

.contactTitle {
  font-size: 2.5rem;
  color: #6551c8;
  font-weight: bolder;
  font-family: starEmpty;
  margin-top: 0;
}

.contactText {
  font-size: 1.5rem;
  color: #b9ba90;
  font-family: playfair display;
  font-family: Comfortaa;
}

.contactSection button {
  background-color: #7777dc;
  font-size: large;
  color: #ffff66;
  border-radius: 10px;
  border: 1px solid #ffff66;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: playfair display;
  font-family: Comfortaa;
}

/* SINGLE PROJECT PAGE */

.singleProject {
  text-align: center;
  height: 100vh;
  display: flex;
  background-image: url('/public/img/projectBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.singleProjectSection {
  display: blcok;
  /* justify-content: center;
  align-items: center;  */
  margin: auto;
  width: 80vw;
  height: 80vh;
}

.projectTitle {
  font-size: 2.5rem;
  color: #6551c8;
  font-weight: bolder;
  font-family: starEmpty;
  margin-bottom: 2rem;
}

.signleProjectBox {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 80vw;
  /* height: 80vh; */
  gap: 3rem;
}

.vertical {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* justify-content: center;
  text-align: center; */
  /* margin: auto; */
  gap: 2vw;
}

.horizontal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* justify-content: center;
  text-align: center; */
  /* margin: auto; */
  gap: 2vw;
}

.verticalImg {
  /* width: 130px;
  height: 230px; */
  width: 10vw;
  height: 17vw;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.horizontalImg {
  /* height: 130px;
  width: 230px; */
  width: 14vw;
  height: 8vw;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.verticalImg:hover {
  transform: scale(2);
  transition: 0.8s;
}

.horizontalImg:hover {
  transform: scale(2);
  transition: 0.8s;
}

.descriptionBox {
  background-color: rgba(67, 67, 98, 0.4);
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(146, 133, 209, 0.85) 0px 4px 12px;
  margin-bottom: 2rem;
}

.description,
.skills {
  text-align: left;
  font-family: playfair display;
  font-family: Comfortaa;
  font-size: 1.3rem;
}

.description p {
  color: #b9ba90;
  margin: 13px;
}

.linklogo {
  width: 40px;
  height: 40px;
  margin: 0 1rem;
}

.skills {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skillTitle {
  font-size: 1.8rem;
  color: #6551c8;
  font-weight: bolder;
  font-family: starEmpty;
  /* margin-top: 0; */
}

.skill {
  /* text-align: left; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: 0.8rem;
}

.technology {
  display: flex;
}

@media screen and (max-width: 768px) {
  .signleProjectBox {
    flex-direction: column;
  }

  .projectTitle {
    font-size: 1.5rem;
    color: #6551c8;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .linklogo {
    width: 30px;
    height: 30px;
    margin: 0.5rem 1rem;
  }

  .verticalImg {
    width: 23vw;
    height: 40vw;
  }

  .description,
  .skills {
    font-size: 1rem;
  }

  .skillTitle {
    font-size: 1.5rem;
  }

  .skill {
    /* text-align: left; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 0.8rem;
  }

  .skillBox img {
    width: 30px;
    height: 30px;
  }

  .horizontal {
    display: block;
  }

  .horizontalImg {
    height: 40vw;
    width: 60vw;
    margin: 2vw;
  }

  .horizontalImg:hover {
    transform: scale(1.3);
    transition: 0.8s;
  }
}

/* error page */
.errorPage {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('/public/img/errorPage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.errorPage h1 {
  font-size: 2rem;
  color: #ffff66;
  font-weight: bolder;
  font-family: starEmpty;
  margin-top: 8em;
}

.homepagebtn {
  margin-top: 2rem;
  background-color: #6551c8;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: starEmpty;
  cursor: pointer;
}

.linktext {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .homepagebtn {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  /* home page shoting star */
  .sky {
    position: relative;
    width: 70vw;
    height: 65vh;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }

  /* Here we are making roundabout balls  */
  .star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    border-radius: 885px;
    background: linear-gradient(-45deg, #eef0f5, rgba(0, 0, 255, 0));

    -webkit-filter: drop-shadow(0 0 6px #eef1f8);
    filter: drop-shadow(0 0 6px #d7dff0);
    -webkit-animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
    animation: tail 3000ms ease-in-out infinite,
      shooting 3000ms ease-in-out infinite;
  }

  /* Here we add before and after effect to star */
  .star::before,
  .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #eaeef8,
      rgba(0, 0, 255, 0)
    );
    -webkit-transform: translateX(50%) rotateZ(45deg);
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
  }
  .star::after {
    -webkit-transform: translateX(50%) rotateZ(-45deg);
    transform: translateX(50%) rotateZ(-45deg);
  }

  /* Here we are adding location of each 
   nth-child, animations, delays, and 
   before and after effects to each 
   and every balls(stars) */
  .star:nth-child(1) {
    top: calc(50% - -119px);
    left: calc(50% - 43px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(1)::before,
  .star:nth-child(1)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(2) {
    top: calc(50% - -43px);
    left: calc(50% - 237px);
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
  }
  .star:nth-child(2)::before,
  .star:nth-child(2)::after {
    -webkit-animation-delay: 4000ms;
    animation-delay: 4000ms;
  }
  .star:nth-child(3) {
    top: calc(50% - -220px);
    left: calc(50% - 322px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(3)::before,
  .star:nth-child(3)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }

  .star:nth-child(4) {
    top: calc(80% - 546px);
    left: calc(50% - 12px);
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
  }
  .star:nth-child(4)::before,
  .star:nth-child(4)::after {
    -webkit-animation-delay: 5000ms;
    animation-delay: 5000ms;
  }

  .star:nth-child(5) {
    top: calc(50% - -29px);
    left: calc(50% - 113px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(5)::before,
  .star:nth-child(5)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }

  .star:nth-child(6) {
    top: calc(50% - -108px);
    left: calc(50% - 160px);
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(6)::before,
  .star:nth-child(6)::after {
    -webkit-animation-delay: 3000ms;
    animation-delay: 3000ms;
  }
  .star:nth-child(7) {
    top: calc(50% - 52px);
    left: calc(50% - 72px);
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }
  .star:nth-child(7)::before,
  .star:nth-child(7)::after {
    -webkit-animation-delay: 7000ms;
    animation-delay: 7000ms;
  }

  /* This code will help to generate 
effect in tail of star */
  @keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }

  /* This code will generate shining 
effect in head of star */
  @keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

  /* Here we are adding webkit-animation 
to head of star for shining */
  @-webkit-keyframes shining {
    0% {
      width: 0;
    }
    50% {
      width: 30px;
    }
    100% {
      width: 0;
    }
  }

  /* Here we are adding webkit-animation 
to tail of star */
  @-webkit-keyframes tail {
    0% {
      width: 0;
    }
    30% {
      width: 100px;
    }
    100% {
      width: 0;
    }
  }

  /* Here we are adding webkit-animation 
for shooting effect */
  @-webkit-keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(270px);
      transform: translateX(270px);
    }
  }

  /* Here we make shooting effect */
  @keyframes shooting {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(270px);
      transform: translateX(270px);
    }
  }
}

/* ==About&projects page star/== */

.starysky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 50vh; */
  animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear forwards;
}

span::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

span:nth-child(2) {
  top: -10px;
  right: 880px;
  left: initial;
  animation-delay: 7s;
  animation-duration: 2s;
}

span:nth-child(1) {
  top: -10px;
  right: -20px;
  left: initial;
  animation-delay: 2s;
  animation-duration: 0.8s;
}

span:nth-child(3) {
  top: -10px;
  right: 100px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
span:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
span:nth-child(9) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

.siteEmailLogo {
  /* border:3px solid #fff; */

  width: 30px;
  height: 30px;
  margin-left: 15px;
}
